h2 ディープ・ラーニング(ニューラル・ネットワーク)の数式モデル

svg height="300" viewbox=("0 0 500 300") width="500" xmlns="http://www.w3.org/2000/svg"
  text x="10" y="57" font-family="Times" font-size="28" stroke="#222" stroke-width="1"
    | x
    tspan font-size="18" 1
  circle cx="50" cy="50" fill="#222" r="10"
  text x="10" y="107" font-family="Times" font-size="28" stroke="#222" stroke-width="1"
    |x
    tspan font-size="18" 2
  circle cx="50" cy="100" fill="#222" r="10"
  circle cx="50" cy="150" fill="#222" r="5"
  circle cx="50" cy="175" fill="#222" r="5"
  circle cx="50" cy="200" fill="#222" r="5"
  text x="10" y="257" font-family="Times" font-size="28" stroke="#222" stroke-width="1"
    | x
    tspan font-size="18" n
  circle cx="50" cy="250" fill="#222" r="10"
  text x="150" y="82" font-family="Times" font-size="28" stroke="#222" stroke-width="1"
    | w
    tspan font-size="18" 1
  line x1="50" y1="50" x2="300" y2="150" stroke="#222" stroke-width="2"
  text x="150" y="119" font-family="Times" font-size="28" stroke="#222" stroke-width="1"
    | w
    tspan font-size="18" 2
  line x1="50" y1="100" x2="300" y2="150" stroke="#222" stroke-width="2"
  text x="150" y="195" font-family="Times" font-size="28" stroke="#222" stroke-width="1"
    | w
    tspan font-size="18" n
  line x1="50" y1="250" x2="300" y2="150" stroke="#222" stroke-width="2"
  text x="305" y="157" font-family="Times" font-size="32" stroke="#222" stroke-width="1" Σ
  circle cx="315" cy="250" fill="#222" r="10"
  text x="285" y="257" font-family="Times" font-size="28" stroke="#222" stroke-width="1" 1
  text x="285" y="207" font-family="Times" font-size="28" stroke="#222" stroke-width="1" b
  line x1="315" y1="250" x2="315" y2="160" stroke="#222" stroke-width="2"
  line x1="330" y1="150" x2="350" y2="150" stroke="#222" stroke-width="2"
  text x="360" y="157" font-family="Times" font-size="32" stroke="#222" stroke-width="1" f
  line x1="370" y1="150" x2="425" y2="150" stroke="#222" stroke-width="2"
  circle cx="425" cy="150" fill="#222" r="10"
  text x="440" y="157" font-family="Times" font-size="32" stroke="#222" stroke-width="1" y
  text x="100" y="120" font-family="Times" font-size="48" stroke="red" stroke-width="3" ×
  text x="220" y="140" font-family="Times" font-size="48" stroke="red" stroke-width="3" +

h3 基本的には「かけ算」と「たし算」をたくさん組み合わせた計算をもとにしている